.Article {
    height: 700px;
    width: 100%;
}
.Text {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
}
    .Text p {
        text-shadow: 8px 8px 4px black;
        font-size:20px;
        font-style:italic;
    }
.Icon {
    text-align: center;
    margin-top: 130px;
}
.Icon p {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: inline-flex;
    margin-top: 35px;
    text-shadow: 8px 8px 4px black;
}
.SmallIcon {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-shadow: 8px 8px 4px black;
}
.SmallIcon:hover{
    color:white;
}
.BigIcon {
    color: white;
    filter: drop-shadow(10px 10px 17px black);
    font-size: 320px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.BigIcon:hover {
    color:white;
}
@media only screen and (max-width: 600px) {
    .Article {
        height: 550px;
    }
    .BigIcon {
        font-size: 150px;
        margin-top:200px;
    }
    .SmallIcon{
        font-size: 20px;
    }
    .Icon p {
        font-size: 20px;
    }
    .Text {
        width: 100%;
    }
    .Text p {
        font-size: 15px;
    }
}
